/*
	Name: BestSongz
	Date: July 2011
	Description: layout.
	Version: 1.0
	Author: The Web
	Author uri: www.internet.com
*/

/* Imports */
@import url('http://i.abimg.net/css');
@import url("http://i.abimg.net/ui/stylesheets/pages/home.css");

/***** Global *****/
/* Body */
	body {

	}

/* Headings */


/* Anchors */



/* Paragraphs */

/***** Layout *****/

	/*
		Extras
	*****************/


/** FOOTER **/

/*
	About
*****************/

/*
	Footer
*****************/


